<div class="main">
    <h1 class="head">Photography is the story I fail to put into words.</h1>
    <p class="para">Chat live with one of our support specialists.Explore our community forums and communicate with other users.Browse FAQ's and support articles to find solutions.Call us during normal business hours at (555) 892-9403.Chat live with one of our support specialists.Explore our community forums and communicate with other users.Browse FAQ's and support articles to find solutions.Call us during normal business hours at (555) 892-9403</p>
    <div class="clr"></div>
</div>
