<div class="main">
    <div class="container">
        <div class="left">
            <h1>Growth and beyond </h1>
            <p>Chat live with one of our support specialists.Explore our community forums and communicate with other users.Browse FAQ's and support articles to find solutions.Call us during normal business hours at (555) 892-9403.</p>
        </div>
        <div class="right">
            <img src="../../../assets/growth.jpg" width="500" height="300px">
        </div>
    </div>
</div>