<div class="main">
    <div class="container">
         <div class= "left">
            <h2 class="header">
                New products, delivered to you.
            </h2>
            <p class="para">
                Sign up for our newsletter for the latest updates.
            </p>
         </div>
         <div class="right">
              <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button class="btn" type="button">Submit</button>
              </form>
              <p class="para1">We care about privacy, and will never share your data.</p>
         </div>
    </div>
    <div class="clr" ></div>
</div>
