<div class="frow">
    <div class="head">
        <h1 class="title">Project Title</h1>
        <p class="para">Chat live with one of our support specialists.Explore our community forums and communicate with other users.Browse FAQ's and support articles to find solutions.Call us during normal business hours at (555) 892-9403.Chat live with one of our support specialists.Explore our community forums and communicate with other users.Browse FAQ's and support articles to find solutions.Call us during normal business hours at (555) 892-9403.</p>
    </div>
    <div class="sec">
        <img class="sec1" src="../../assets/i1.jpeg" width="1200px" height="700px">
    </div>
</div>
<div class="srow">
    <div class="col1">
        <img src="../../assets/i2.jpg" width="600px" height="400px">
    </div>
    <div class="col1">
        <img src="../../assets/i3.jpg" width="600px" height="400px">
    </div>
</div>

<div class="trow">
    <div class="words">
        <p><b>Chat live with one of our support specialists.Explore our community forums and communicate with other users.Browse FAQ's and support articles to find solutions.Call us during normal business hours at (555) 892-9403.Chat live with one of our support specialists.Explore our community forums and communicate with other users.Browse FAQ's and support articles to find solutions.Call us during normal business hours at (555) 892-9403.Chat live with one of our support specialists.Explore our community forums and communicate with other users.Browse FAQ's and support articles to find solutions.Call us during normal business hours at (555) 892-9403.Chat live with one of our support specialists.Explore our community forums and communicate with other users.Browse FAQ's and support articles to find solutions.Call us during normal business hours at (555) 892-9403.</b></p>
    </div>
    <div class="lin">
        <a href="#">view more...</a>
    </div>
</div>