<div class="container">
    <div class="column1">
      <h1>Taking pictures is savoring life intensely, every hundredth of a second</h1>
      <h3>which makes your life more beautiful</h3>
    </div>
     
    <div class="column2" >
      <div class="clr"></div>
        <div class=f-row>
          <div class="col1">
              <img src="../assets/book.jpg" width="70px" height="70px">
              <h1>content</h1>
              <p>When words become unclear, I shall focus with photographs. When images become inadequate, I shall be content with silence</p>
          </div>
          <div class="col1">
            <img src="../assets/cam1.PNG" width="70px" height="70px">
            <h1>content</h1>
            <p>If you are out there shooting, things will happen for you. If you’re not out there, you’ll only hear about it</p>
          </div>
        </div>
        <div class="clr"></div>
        <div class=s-row>
          <div class="col2">
            <img src="../assets/deg.jpg" width="70px" height="70px">
            <h1>content</h1>
            <p>If you can’t feel what you’re looking at, then you’re never going to get others to feel anything when they look at your pictures</p>
          </div>
          <div class="col2">
            <img src="../assets/deg.jpg" width="70px" height="70px">
            <h1>content</h1>
            <p>It is an illusion that photos are made with the camera… they are made with the eye, heart, and head</p>
          </div>
        </div>
    </div>
    <div class="clr"></div>  
</div>
  
