
<div class="main">
    <h1 class="header"> From the blog</h1>
    <p class="header">The best thing about a picture is that it never changes, even when the people in it do.</p>
    <div class="container">
        <div class="col1">
            <div class="imgs">
                <img class= "altr" src="../../assets/dayt.jpg" width=300px height=200px>
            </div>
            <div class="para">
                <h2>Days Together</h2>
                <p>Love is not about how many days, months, or years you have been together. Love is about how much you love each other every single day</p>
                <h4>-Anna V.</h4>
            </div>
        </div>
        <div class="col1">
            <div class="imgs">
                <img class= "altr" src="../../assets/pic1.jpg" width=300px height=200px>
            </div>
            <div class="para">
                <h2>Moments</h2>
                <p>Life is short, and if we enjoy every moment of every day, then we will be happy no matter what happens or what changes along the way</p>
                <h4>-Gretchen Bleiler.</h4>
            </div>
        </div>
        <div class="col1">
            <div class="imgs">
                <img class= "altr" src="../../assets/food.jpg" width=300px height=200px>
            </div>
            <div class="para">
                <h2>Food...</h2>
                <p>Truly, love is delightful and pleasant food, supplying, as it does, rest to the weary, strength to the weak, and joy to the sorrowful</p>
                <h4>-Thomas Keller.</h4>
            </div>
        </div>

    </div>
<div class="clr" ></div>
</div>