<div class="frow">
    <h1 class="head">
        Our work
    </h1>
    <p class="para">
        company portfolio
    </p>
</div>
<div class="srow">
    <div class="row1">
        <div class="i1">
        <img  src="../../assets/dayt.jpg" width="600" height="400">
            <h1>projectname</h1>
        </div>
        <div class="i1">
        <img src="../../assets/dayt.jpg" width="600" height="400">
        <h1>projectname</h1>
        </div>
        <div class="clr"></div>
    </div>
    <div class="row2">
        <div class="i2">
        <img  src="../../assets/dayt.jpg" width="600" height="400">
        <h1>projectname</h1>
        </div>
        <div class="i2">
        <img  src="../../assets/dayt.jpg" width="600" height="400">
        <h1>projectname</h1>
        </div>
    </div>
</div>
<div class="trow">
    <h1 class="words">Let's build something together</h1>
    <button class="btn">Contact us</button>
</div>